$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$color-primary: #494987;
$color-primary-background: #3a3a57;
$color-primary-hover: #6060AC;
$color-primary-transparent: rgba(75, 104, 136, 0.04);
$color-secondary: #C92843;
$color-secondary-transparent: rgba(201, 40, 67, 0.04);
$color-light: #F5F5F5;
$color-gray-light: #E5E5E5;
$color-gray-medium: #ABABAB;

$font-header: 'Roboto Slab', serif;
$font-body: 'Montserrat', sans-serif;