html {
  background: $color-light;  
  font-size: 14px;
}

body, p, label {
  font-family: $font-body;
}

.row {
  max-width: $bp-md;
  margin: 0 auto;
}

i {
  &:hover {
    color: $color-gray-light;
    cursor: pointer;
  }
}