.message {
  color: #ABABAB;
  padding-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.0rem;
  font-weight: 700;      
}

.message__disclaimer {
  text-align: left;
}